.container-details{
    padding: 10px;
}

.container-details h1{
    color: #fff;
}

@media (min-width:576px){
    .container-details{
        padding: 20px;
    }
}
@media (min-width:1200px){
    .container-details{
        padding: 30px;
    }
}